.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

*.class
*.log
*.tmp
hs_err_pid*
replay_pid*
*.jar
!gradle/wrapper/gradle-wrapper.jar

.DS_Store
Thumbs.db

.idea/
*.iml
*.ipr
*.iws
out/

.classpath
.project
.settings/
.apt_generated
.factorypath
.springBeans
.sts4-cache
bin/


/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

logs/
template-generator.jar
*.rptdesign
*.ods
*.odt
tplgen-debug-*/
tmp/
